/.vs
/packages
/PeakWCF/bin
/PeakWCF/obj
/PeakWCF/FakesAssemblies
/PeakWCFLibrary/bin
/PeakWCFLibrary/obj
/PeakWCFService_Test/bin
/PeakWCFService_Test/obj
/PeakWCFModels/bin
/PeakWCFModels/obj
/PeakWCFModelsAPI/bin
/PeakWCFModelsAPI/obj
/DailyImportCurrencyBOT/obj
/DailyImportCurrencyBOT/bin
/PeakWCF_Test/bin
/PeakWCF_Test/obj
/PeakEmailPackage/bin
/PeakEmailPackage/obj
/DeleteNotificationExportFile/bin
/DeleteNotificationExportFile/obj
/BentoWebInsertOrder/bin
/BentoWebInsertOrder/obj


#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
